<h1>Projects: View ALL (Index)</h1>
<p>Listing projects</p>


<% @projects.each do |project| %>
<p>
  <li class="title"><%= link_to "#{project[:title]}", "/projects/#{project.id}" %></li>
  <%= project[:teaser] %> <br />
  <%= project[:description] %> <br />
  <%= project[:goal] %> <br />
  
  </p>

<% end %>